* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 150px auto 50px;
}

header {
  position: relative;
  background: #FFFFFF;
}

#title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 72px;
  color: #DC2128;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 66px;
}

#twitchButton {
  background: #E5E5E5;
  float:left;
}

#siteButton {
  background: #6B36DC;
  float: right;
}

#twitchButton > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: #7C1496;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#siteButton > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar {
  position: absolute;
  display: flex;
  width: 400px;
  height: 66px;
  left: 50%;
  margin-left: -200px;
  bottom: -25px;
}

#mainContentContainer {
  background-color: #00051F;
  display: grid;
  grid-template-rows: auto 9fr;
}

#img-div {
  display: grid;
  justify-content: center;
}

#img-caption {
  padding-top: 5px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 18px;
  color: #FFFFFF;
}

#image {
  padding-top: 15%;
  width: 250px;
  height: 232px;
}

article {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contentText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  display: flex;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
}

footer > p {
  color: #DC2128;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
